{% extends "base.html" %}
{%import "bootstrap/wtf.html" as wtf%}

{%block app_content%}

{%for i in range(1,4)%}
  {%include 'cal_schedule.html'%}
{%endfor%}

<input id="LoadScheduleButton" button type="button" class="btn btn-info" value="일정을 더 로드하시려면 여기를 클릭하세요"></input>
<div id="listDiv"></div>
{%endblock%}

{% block scripts %}
{{super()}}
<script>
  $(function(){
    $("#LoadScheduleButton").click(function(){
      $.ajax({
        type: 'post' ,
        url: "{{url_for('cal_week')}}" ,
        dataType : 'html' ,
        success: function(data) {
          $("#listDiv").html(data);
        }
      });
  	})
  })
</script>
{% endblock %}
